.form-header {
  width: 100%;
  height: 56px;
  background-color: #f4fdff;
  padding: 16px 24px;

  &-text {
    font-size: 20px;
    color: #0089b5;
    margin: 0;
  }
}
.form-options {
  padding-top: 1.5rem;
  display: flex;
  flex-direction: column;
  span {
    &.title {
      font-style: italic;
      color: #878681;
      font-size: rem(14);
    }
    width: 100%;
  }
  mat-radio-group {
    margin-left: -1rem;
    mat-radio-button {
      label.mdc-label {
        font-size: 14px;
      }
    }
  }
}
.form-info {
  height: rem(52);
  display: flex;
  align-items: center;
  padding: rem(8);
  background-color: #f4fdff;
  display: flex;
  mat-icon {
    display: flex;
    align-items: center;
    width: rem(35);
    height: rem(35);
  }
  span {
    font-weight: bold;
  }
}
.register-spn {
  .mat-mdc-form-field-required-marker {
    color: red;
  }
  padding-inline: 12px;
  span,
  p,
  textarea {
    font-size: 14px !important;
  }

  p {
    margin-block: 1.5lh;
  }
  .form-field-section {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 2rem;
  }
  .optional-field {
    background-color: #f5f5f5;
    padding: 16px;
  }
  .optional-field-amountPayment {
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    padding: 16px;
    .title {
      font-weight: bold;
    }
    .amount {
      display: flex;
      width: 50%;
      gap: 1rem;
    }
    > mat-form-field {
      width: 25%;
      padding-right: 0.5rem;
    }
  }
  .inline-fields {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .form-title {
    font-size: rem(16);
    font-weight: bold;
  }
  .mdc-floating-label {
    font-size: rem(14) !important;
  }
  mat-form-field {
    font-size: 14px !important;
    &.full-width {
      width: 100%;
    }
  }
  .instructions {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  p {
    font-family: "open-sans" !important;
  }
  fi-undb-recipient {
    span {
      font-weight: bold;
    }
  }
  .footerActions {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
  }
  .lots {
    .lots_container {
      display: flex;
      gap: 1rem;
      margin-block: 2rem;
      .lotNumber {
        width: 15%;
      }
      .lotName {
        width: 25%;
      }
      .estimatedTime {
        width: 20%;
      }
      .timeUnit {
        width: 15%;
      }
      .technicalSpecifications {
        width: 20%;
      }
      .actions {
        width: 5%;
      }
      div {
        &:last-child {
          display: flex;
        }
      }
    }
    .lots_header {
      font-size: rem(14);
      font-weight: bold;
      background-color: #f5f5f5;
      margin-bottom: 1rem;
      div {
        height: rem(50);
        display: flex;
        align-items: center;
        padding-left: 1rem;
        border-left: 1px solid #cccccc;
        &:first-child {
          border-left: none;
        }
      }
    }
    .align-right {
      display: flex;
      justify-content: flex-end;
    }
  }
}

fi-spn-modal-options {
  font-size: 13px;
  .mat-mdc-dialog-title {
    font-size: 16px !important;
    font-weight: bold !important;
  }
  mat-dialog-content {
    mat-radio-group {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      mat-radio-button {
        border-radius: 4px;
        padding: 1rem;
        box-shadow: 0px 1px 18px 0px #0000001f;
        box-shadow: 0px 6px 10px 0px #00000024;
        box-shadow: 0px 3px 5px -1px #00000033;
        label {
          span {
            font-size: 13px;
            width: 100%;
            display: block;
            &:first-child {
              font-size: 16px;
              font-weight: bold;
            }
          }
        }
      }
    }
    .close-button {
      cursor: pointer;
      position: absolute;
      top: 8px;
      right: 8px;
      color: gray;
    }
  }
}
