.c-documents {
  background-color: white;
  font-size: 12px;
  font-family: "salesforce-sans-400", arial, sans-serif;
  font-weight: 400;
  &__header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: rem(20) 0 rem(16) rem(24);
    border-bottom: 1px solid color("gray-500");
  }
  &__title-container {
    display: flex;
    align-items: center;
    font-size: rem(17);
  }
  &__title {
    font-size: rem(16);
    margin: 0;
    color: color("main-text");
    padding-left: rem(8);
  }
  &__preview-btn {
    margin-right: rem(61);
  }
  &__icon {
    display: flex;
    align-items: center;
  }
  &__date-picker {
    width: 100%;
    border: 1px solid #b9c2ca;
    border-radius: 4px;
    opacity: 1;
  }
  &__text-area {
    min-height: rem(60) !important;
    padding: rem(12);
    margin: 0;
  }
  &__actions-container {
    display: flex;
    justify-content: center;
    &-buttons {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      width: 100%;
    }
  }
  .container-fluid > .row > .col-md-5 {
    padding-bottom: 12%;
  }

  .subtitle {
    font-size: 15px;
  }
}

.minimun-height {
  min-height: 223px;
}

.document-card {
  &__footer {
    display: flex;
    justify-content: flex-end;

    &--mobile {
      display: flex;
      justify-content: flex-end;
      padding: 1rem;
    }
  }
}

.div-ghost {
  height: 19.5px;
  margin-top: 16px;
  kendo-label {
    display: flex;
  }
}

@media (max-width: 360px) {
  .#{$ns}documents {
    &__legend {
      margin-left: rem(16);
    }
    &__checkbox-container {
      display: flex;
    }
    .kendo-label {
      max-width: 295px;
    }
  }
}

.tooltip-conteiner {
  margin-left: 20px;
}

.k-input-inner {
  &:focus {
    border: none;
  }
  &:focus-visible {
    outline: none;
    border: none;
  }
}
