.radditional-info {
  padding: 1.5rem 0rem;
  .o-header-group {
    &__item {
      &:first-child {
        padding-left: 25px;
      }
    }
  }
  mat-radio-group {
    .bidderRow {
      padding: 10px 15px;
    }
  }
}
