.c-header-feature {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: rem(12) rem(16);
    background-color: #fff;
    border-bottom: rem(1) solid #d8dde6;
    &-container {
      display: flex;
      align-items: center;
    }

    &.collapsed {
      border-bottom: 0;
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #818edc;
    color: #fff;
    height: rem(32);
    width: rem(32);
    border-radius: rem(4);
    font-size: rem(22);
  }

  &__title {
    color: #514f4d;
    font-size: rem(12);
    letter-spacing: rem(1);
  }
  &__subtitle {
    font-size: rem(20);
    color: color("main-text");
  }
}

.c-card-header {
  display: flex;
  flex-wrap: wrap;
  padding: 15px 18px 15px 18px;
  border-bottom: rem(1) solid #d8dde6;
  align-items: center;
  &__icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #818edc;
    color: #fff;
    height: rem(32);
    width: rem(32);
    border-radius: rem(4);
    font-size: rem(22);
  }

  &__title {
    color: color("main-text");
    display: inline-flex;
    font-size: rem(16);
    font-weight: 600;
    margin: 0 0 0 12px;
    width: calc(100% - 44px);

    @include mediaMin(mobile-large) {
      width: calc(60% - 44px);
    }

    @include mediaMin(tablet) {
      width: calc(50% - 44px);
    }
  }

  &__content {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: rem(8);
    margin-top: rem(8);

    @include mediaMin(mobile-large) {
      display: inline-flex;
      margin-top: 0;
    }
  }
}
