.c-add-comment {
  text-align: start !important;
  display: flex;
  margin-top: 16px;

  form {
    width: 100%;
  }

  fieldset {
    padding-left: 12px;
  }

  legend {
    font-size: 14px;
  }

  label {
    padding: 4px 24px 4px 8px;
    cursor: pointer;
  }

  &__text-area {
    padding: 8px 0;
  }

  .o-input-error {
    margin-bottom: 0;
  }

  &__text-area-no-radio {
    padding: 0 0 15px 0;
  }

  .k-editor-content {
    height: 150px;
  }
}
