.c-mobile-table {
  $c-mobile-table--border-color: #eaeaea;
  
  table {
    width: 100%;
    tr {
      background-color: $white;
      border-bottom: 2px solid $c-mobile-table--border-color;
      &:first-child {
        border-top: 2px solid $c-mobile-table--border-color;
      }      
      
      td {
        @extend .sf300;
        font-size: 12px;
        font-weight: 600;
        padding: 14px 4px;
        &.first-column {
          text-align: center;
          width: 40px;
        }

        &.options-column {
          width: 80px;
          div.options-wrapper {
            align-items: center;
            display: flex;
            justify-content: space-around;                      
          }
        }
      }
    }
  }
}
