<div class="c-docs-list" *fiDisplayByPermissions="permissions">
  <kendo-tabstrip class="doc-package-menu">
    <ng-container *ngFor="let tab of groupsTabs; let i = index">
      <kendo-tabstrip-tab [selected]="i === 0 ? true : false">
        <ng-template kendoTabTitle>
          <div [ngSwitch]="tab.type">
            <div *ngSwitchCase="documentPackageGroupType.MANDATORY">
              {{ "DOCUMENT_LIST.MANDATORY_DOCS" | translate }}
            </div>
            <div *ngSwitchCase="documentPackageGroupType.OPTIONAL">
              {{ "DOCUMENT_LIST.OPTIONAL_DOCS" | translate }}
            </div>
            <div *ngSwitchCase="documentPackageGroupType.AMENDMENTS">
              {{ "DOCUMENT_LIST.AMENDMENT_DOCS" | translate }}
            </div>
            <div *ngSwitchCase="documentPackageGroupType.CLARIFICATIONS">
              {{ "DOCUMENT_LIST.CLARIFICATION_DOCS" | translate }}
            </div>
          </div>
          <span class="pl-2" *ngIf="tab.groups.length > 0">
            ( {{ tab.groups.length }} )
          </span>
        </ng-template>
        <ng-template kendoTabContent>
          <div
            *ngFor="let group of tab.groups"
            class="doc-package-menu__doc-item"
          >
            <div class="icon-col">
              <em
                *ngIf="group.fiduciaryProcessDocuments?.length > 0"
                data-testid="checkedIcon"
                class="fas fa-check-circle"
              ></em>
            </div>
            <div class="doc-package-menu__doc-item-title">
              {{ group.groupCode | translateEnum : groupEnum }}
            </div>
            <div
              *ngIf="tab.type === documentPackageGroupType.MANDATORY"
              kendoTooltip
              title="{{ 'BIDDINDG.TOOLTIP_FIRST_TEXT' | translate }} {{
                group.groupCode | translateEnum : groupEnum
              }} {{ 'BIDDINDG.TOOLTIP_LAST_TEXT' | translate }}"
              class="doc-package-menu__doc-item-tooltip"
            >
              <em
                *ngIf="!isNotice(group.groupCode)"
                class="fas fa-info-circle"
              ></em>
            </div>
            <ng-container *ngIf="validateProcessState()">
              <fi-undb-btns
                [groupCode]="group.groupCode"
                [documentGroupConfiguration]="group.documentGroupConfiguration"
                [fiduciaryProcessDocuments]="group.fiduciaryProcessDocuments"
                [docPackage]="docPackage"
                [procurementProcess]="procurementProcess"
                [allPackages]="allPackages"
                [category]="category"
              >
              </fi-undb-btns>
            </ng-container>
          </div>
        </ng-template>
      </kendo-tabstrip-tab>
    </ng-container>
  </kendo-tabstrip>
</div>
