<div>
  <div>
    <div
      class="pl-3 mb-3 details-system-opertaions__back-icon"
      (click)="goBack()"
    >
      <em class="fas fa-arrow-left"></em>
    </div>
    <div class="pl-3 details-system-opertaions__header-container">
      <div class="pr-3">
        <em
          *ngIf="data?.status === available"
          class="fas fa-check-circle fa-lg card-fiduciary__icon--ckeck"
        ></em>
        <em
          *ngIf="data?.status === partialOutage"
          class="fas fa-exclamation-circle fa-lg card-fiduciary__icon--exclamation"
        ></em>
        <em
          *ngIf="data?.status === unavailable"
          class="fas fa-minus-circle fa-lg card-fiduciary__icon--minus"
        ></em>
      </div>
      <div class="details-system-opertaions__header-title">
        {{ data?.title }}
      </div>
    </div>
  </div>
  <div class="p-3 pt-4 details-system-opertaions__text">
    <div>{{ data?.message }}</div>
    <div>{{ data?.text }}</div>
    <div>{{ data?.textSecondary }}</div>
  </div>
</div>
