<form class="linked-documents" [formGroup]="linkedDocumentsFormGroup">
  <p class="sf700">{{ title | translate }}</p>
  <span>{{ subtitle | translate }}</span>

  <div formArrayName="linkedDocuments" class="fields pt-3">
    <div
      *ngFor="
        let control of documentsFormArray.controls;
        let i = index;
        let isLast = last
      "
      class="document-field"
    >
      <mat-form-field>
        <mat-label>{{ label | translate }}</mat-label>
        <input matInput [formControlName]="i" (blur)="onBlur()" />
        <mat-error *ngIf="control.errors?.pattern">{{
          "UNDB.LINKED_DOCUMENTS.ERROR.URL_PATTERN" | translate
        }}</mat-error>
      </mat-form-field>
      <button
        mat-icon-button
        color="primary"
        (click)="deleteDocument(i)"
        [disabled]="!(documentsFormArray.controls.length > 1)"
      >
        <mat-icon>delete_forever</mat-icon>
      </button>
    </div>
  </div>
  <button mat-button color="primary" (click)="addDocument()">
    {{ "UNDB.LINKED_DOCUMENTS.ADD_BUTTON" | translate }}
  </button>
</form>
