.eoi {
  .heading {
    font-size: 14px;
    background-color: #f4fdff;
    padding: 16px 24px;
    height: 56px;
    width: 100%;
    h1 {
      font-size: 20px;
      color: #0089b5;
      margin: 0;
    }
  }
}
