.guarantee-option {
  width: 120px;
  margin-right: 1.5rem;
  display: inline-block;
}
.guarantee-option-row {
  display: flex;
  gap: 1rem;
}

.aga-info {
  display: flex;
  align-items: center;
  gap: 2rem;
}
