<form [formGroup]="_commentsForm">
  <div
    id="list"
    class="c-modal"
    style="
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
    "
  ></div>

  <div
    id="draftCommentsSection"
    style="
      max-height: 28rem;
      overflow: auto;
      overflow-x: hidden;
      margin-bottom: 5rem;
    "
  >
    <div>
      <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-11">
          <kendo-editor
            class="c-process-coments__editor"
            ngDefaultControl
            formControlName="comment"
          >
            <kendo-toolbar>
              <kendo-toolbar-buttongroup>
                <kendo-toolbar-button
                  kendoEditorBoldButton
                ></kendo-toolbar-button>
                <kendo-toolbar-button
                  kendoEditorItalicButton
                ></kendo-toolbar-button>
                <kendo-toolbar-button
                  kendoEditorUnderlineButton
                ></kendo-toolbar-button>
                <kendo-toolbar-button
                  kendoEditorIndentButton
                ></kendo-toolbar-button>
                <kendo-toolbar-button
                  kendoEditorOutdentButton
                ></kendo-toolbar-button>
                <kendo-toolbar-button kendoEditorInsertUnorderedListButton>
                </kendo-toolbar-button>
                <kendo-toolbar-button
                  kendoEditorInsertOrderedListButton
                ></kendo-toolbar-button>
              </kendo-toolbar-buttongroup>
            </kendo-toolbar>

            <kendo-editor-messages
              [bold]="'COMMON.EDITOR_BOLD' | translate"
              [italic]="'COMMON.EDITOR_ITALIC' | translate"
              [underline]="'COMMON.EDITOR_UNDERLINE' | translate"
              [indent]="'COMMON.EDITOR_INDENT' | translate"
              [outdent]="'COMMON.EDITOR_OUTDENT' | translate"
              [insertUnorderedList]="'COMMON.EDITOR_INSERT_UL' | translate"
              [insertOrderedList]="'COMMON.EDITOR_INSERT_OL' | translate"
            >
            </kendo-editor-messages>
          </kendo-editor>
          <div
            class="d-flex"
            *ngIf="
              _commentsForm.controls.comment.invalid &&
              _commentsForm.controls.comment.touched
            "
          >
            <div class="o-input-error">
              {{ "PROCUREMENT_COMMENT.REQUIRED" | translate }}
            </div>
          </div>
        </div>
      </div>
      <div class="separator1em fi-procurement--border mb-3"></div>
    </div>
  </div>
</form>
