.k-tabstrip {
  padding: 1rem 0;

  .k-tabstrip-items {
    font-size: rem(12);
    margin-bottom: rem(30);
    border-bottom: 1px solid $gray-1;
    .k-item {
      font-family: "salesforce-sans-400", arial, sans-serif;
      font-size: rem(16);
      color: #080707;
      border: none;
      padding: rem(5) rem(10);
      &:hover {
        color: #514f4d;
      }
      &.k-active {
        color: #080707;
        border-bottom: 2px solid;
        border-bottom-color: color("primary") !important;
        background: transparent;
        font-weight: 700;
      }

      .k-link {
        padding: 0 12px;
      }
    }
  }
}
.k-tabstrip-top {
  .k-tabstrip-content {
    display: block;
  }
}
