////
/// COMMENTS component
///
/// @access public
/// @author Dfront Specialist Team
/// @group Component
/// @name .#{$ns}kendo-label
/// @since version 1.0.0
////
.#{$ns}kendo-label {
  color: $input-dark-gray;
  font-size: 13px;

  &--required::before {
    content: "*";
    color: $state-color-destructive;
    margin-right: rem(4);
    display: inline;
  }

  &--invisible {
    visibility: hidden;
    height: 0;
    margin: 0;
  }
}

@media (max-width: 360px) {
  .#{$ns}kendo-label {
    max-width: 295px;
  }
}
