.k-loader {
  color: #4496f7;

  .k-loader-sm {
    .k-loader-segment {
      width: 4px;
      height: 4px;
    }
  }

  .k-loader-md {
    .k-loader-segment {
      width: 8px;
      height: 8px;
    }
  }

  .k-loader-lg {
    .k-loader-segment {
      width: 11px;
      height: 11px;
    }
  }
  .k-loader-spinner-4 {
    &.k-loader-sm .k-loader-canvas {
      width: 18px;
      height: 18px;
    }
    &.k-loader-md .k-loader-canvas {
      width: 36px;
      height: 36px;
    }
    &.k-loader-lg .k-loader-canvas {
      width: 48px;
      height: 48px;
    }
  }
}
