.k-radio {
  border: 1px solid #c9c7c5;
  &:active,
  &:focus {
    border: 1px solid #0082f6;
    box-shadow: 0px 0px 3px 1px $brand-color-light-blue;
  }

  &:checked {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAJYAAACWAQMAAAAGz+OhAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAJcEhZcwAACusAAArrAYKLDVoAAAAGUExURUdwTBmL72QfoscAAAABdFJOUwBA5thmAAAA4klEQVRIx+2VMQ7DIAxFgxgy9ggcpUeDo/UoHCFjhgpXESI2+CsiStsleHwC2xj4f5pG3CKIXi1yREkvUwvtxha1VW32G6Og0jUJbWZVwkdmb1WiKfLMjHSJqogpLKqyVeG5sFW1UjXjCku6FdkMYn5nQbUsmjbM4hGzzJYjNjNb1dHE4RBzzNJZxiPgISDmBQsnmUD7AL/MjGRxsF+xf9zlpbfW+56v/Jnef4n+dK8e9OoL0iaoYb36h7QTaSzSYqTZSNuRB0CvQJ6CvAd5FPIy6HnIG5GHIq+Fnoy8e8S94wP9vuqCdmhaMQAAAABJRU5ErkJggg==");
    border: 1px solid #c9c1b9;
    background-color: $white;
    &::before {
      background-color: #1589ee;
    }
    &:active,
    &:focus {
      border: 1px solid #0082f6;
      box-shadow: 0px 0px 3px 1px $brand-color-light-blue;
    }
  }

  &[disabled] {
    background-color: #ecebea;
    &::before {
      background-color: #969492;
    }
  }

  & + .fi-kendo-label {
    margin-left: rem(6);
  }

  &.k-invalid,
  &.k-state-invalid,
  &.ng-invalid.ng-touched,
  &.ng-invalid.ng-dirty {
    border: 2px solid #d72e2d;
  }
}

.fi-kendo-label + .k-radio {
  margin-left: rem(15);
  &:first-of-type {
    margin-left: 0;
  }
}

.radio-group {
  padding-right: 15px;
}
.k-radio-list {
  flex-flow: row;
}
.k-radio-list .k-radio-item {
  padding: 4px 24px 4px 0;
}
