////
/// Override kendo-switch component
///
///
/// @access public
/// @author Dfront Specialist Team
/// @group components of kendo ui
/// @name .k-switch
/// @since version 1.0.0
////
.k-switch {

    &--big {
        width: rem(153);
        height: rem(42);

        .k-switch-handle {
            width: rem(74);
            height: rem(42);
        }

        &.k-switch-on {
            .k-switch-container {
                background-color: color('success');
            }
            .k-switch-handle {
                left: calc(100% - 74px);
            }
        }

        .k-switch-label-on {
            font-size: rem(16);
            font-weight: bold;
            left: rem(28);
        }
        .k-switch-label-off {
            font-size: rem(16);
            font-weight: bold;
            right: rem(28);
        }
    }
    &--no-labels {
        width: rem(80);
        height: rem(36);

        .k-switch-handle {
            width: rem(40);
            height: rem(36);
        }

        &.k-switch-on {
            .k-switch-container {
                background-color: color('success');
            }
            .k-switch-handle {
                left: calc(100% - 40px);
            }
        }
        &.k-switch-on, &.k-switch-off {
            .k-switch-handle {
                background-color: color('gray-500');
            }
        }
        .k-switch-label-on,
        .k-switch-label-off {
            display: none;
        }
    }
}
