.comments-counter,
.comments-counter-marked {
  cursor: pointer;
  color: color("main-text");

  .comments-counter__icon {
    color: #706e6b;
  }

  .comments-counter__number {
    font-weight: bold;
    padding-left: 4px;
  }

  &:hover {
    text-decoration: none;
    color: #706e6b;
  }
}

.comments-counter-marked {
  .comments-counter__icon {
    text-shadow: 1px 1px 2px black;
  }

  .comments-counter__number {
    text-shadow: 0px 0px 1px black;
  }
}
