<div class="col-12 pb-3 fi-transaction-detail">
  <div class="c-transactions__pdf" *ngIf="showExporToPdfButton">
    <button
      kendoButton
      class="btn btn-online-brand"
      (click)="exportToPdf()"
      id="Btn_Export_pdf"
      [icon]="isLoading ? 'loading' : 'download'"
      [disabled]="isLoading"
    >
      {{ "TRANSACTION_DETAILS.DOWNLOAD" | translate }}
    </button>
  </div>

  <fi-accordion-panel [open]="true" [collapsible]="false">
    <ng-container number *ngIf="number">{{ number }}</ng-container>
    <ng-container title>{{ title | translate }}</ng-container>
    <ng-container body>
      <div class="c-transactions-amount__container">
        <div class="c-transactions__table-header">
          <div class="column fi-kendo-label--required">
            {{ "TRANSACION_DETAILS.REQ_#" | translate }}
            <em
              class="fas fa-info-circle"
              kendoTooltip
              style="margin-left: 5px"
              [title]="'REQUEST_NUMBER.TOOLTIP_TEXT' | translate"
            ></em>
          </div>
          <div class="column fi-kendo-label--required">
            {{ "TRANSACION_DETAILS.PART_#" | translate }}
          </div>
          <ng-container *ngIf="isANT">
            <div class="column fi-kendo-label--required">
              {{ "TRANSACION_DETAILS.FINANCIAL_PLANNING_PERIOD" | translate }}
            </div>
          </ng-container>
          <div class="column">
            {{ "TRANSACION_DETAILS.TRANSACTION_#" | translate }}
          </div>
          <div class="column">
            {{ "TRANSACION_DETAILS.STATUS" | translate }}
          </div>
        </div>
        <div class="c-transactions__table-body" [formGroup]="detailForm">
          <div class="column d-flex justify-content-center align-items-center">
            <div
              *ngIf="
                transactionStatusId !== transactionsStatus.EREJECTEDBYIDB &&
                  transactionStatusId !== transactionsStatus.EREJECT;
                else rejectedTransaction
              "
            >
              <fi-input-numeric
                (add)="addRequestNumber()"
                (sub)="subRequestNumber()"
                (typed)="typedRequestNumber($event)"
                [isEditMode]="!isANI && isEditMode"
                formControlName="requestNumber"
                [id]="1"
                class="c-detail-numeric"
                [placeholder]="selectedCurrentAvailableNumbers.requestNumber"
              ></fi-input-numeric>
            </div>
            <ng-template #rejectedTransaction>
              <span>&mdash;</span>
            </ng-template>
          </div>
          <div class="column d-flex justify-content-center align-items-center">
            <div
              *ngIf="
                transactionStatusId !== transactionsStatus.EREJECTEDBYIDB &&
                  transactionStatusId !== transactionsStatus.EREJECT;
                else rejectedTransaction
              "
            >
              <fi-input-numeric
                (add)="addPartNumber()"
                (sub)="subPartNumber()"
                (typed)="typedPartNumber($event)"
                [isEditMode]="!isANI && isEditMode"
                formControlName="partNumber"
                [id]="2"
                class="c-detail-numeric"
                [placeholder]="selectedCurrentAvailableNumbers.partNumber"
              ></fi-input-numeric>
            </div>
          </div>
          <ng-container *ngIf="isANT">
            <div class="column">
              <kendo-numerictextbox
                class="c-numerictextbox k-numerictextbox"
                #numberDaysFinancialPlanning
                formControlName="numberDaysFinancialPlanning"
                [spinners]="false"
                [min]="0"
                [autoCorrect]="true"
                [format]="'n0'"
                [decimals]="0"
                [min]="1"
                [max]="360"
                [maxlength]="18"
                id="Txb_Financial_planning"
                placeholder="180"
                [changeValueOnScroll]="false"
              >
              </kendo-numerictextbox>
            </div>
          </ng-container>
          <div class="column">
            <span class="column__text">
              {{
                !transactionNumber
                  ? ("TRANSACION_DETAILS.NOT_ASIGNED" | translate)
                  : transactionNumber
              }}
            </span>
          </div>
          <div class="column">
            <span class="column__text">
              {{
                !transactionStatusId
                  ? ("TRANSACION_DETAILS.NOT_ASIGNED" | translate)
                  : (transactionStatusId
                    | fiMaskingState
                    | translateEnum : enum.TransactionStatuses)
              }}
            </span>
          </div>
        </div>
        <ng-container *ngIf="isOcupied">
          <fi-alert
            *ngIf="this.isEditMode"
            [type]="'warning'"
            [closable]="false"
            [title]="'TRANSACION_DETAILS.ERROR_TEXT' | translate"
          ></fi-alert>
        </ng-container>
      </div>
    </ng-container>
  </fi-accordion-panel>
</div>
