<div class="card p-3">
  <fi-r-contracts-stepper
    style="min-height: calc(100vh - 33rem)"
  ></fi-r-contracts-stepper>
  <!-- <fi-r-contracts-detail-bidder></fi-r-contracts-detail-bidder>
  <fi-r-contracts-general-info
    [biddingContractTypes]="biddingContractTypes"
    [biddingContractConflictResolutionMethods]="
      biddingContractConflictResolutionMethods
    "
    [memberCountries]="memberCountries"
  ></fi-r-contracts-general-info>
  <fi-r-contracts-cost-distribution></fi-r-contracts-cost-distribution>
  <fi-r-contracts-execution-place></fi-r-contracts-execution-place>
  <fi-r-contracts-additional-info
    [biddingContractSecurityTypes]="biddingContractSecurityTypes"
    [biddingContractBonusPaymentFrequency]="biddingContractBonusPaymentFrequency"
    [currencies]="currencies"
    [biddingContractLiquidatedDamageTypes]="biddingContractLiquidatedDamageTypes"
    [biddingContractBonusTypes]="biddingContractBonusTypes"
  ></fi-r-contracts-additional-info>

  <fi-r-contracts-payment-schedule></fi-r-contracts-payment-schedule>

  <div
    class="r-contracts-actions-buttons d-flex justify-content-between mt-3 p-3"
  >
    <button
      type="button"
      mat-button
      color="primary"
      class="fi-flat-btn"
      id="Btn_Cancel"
    >
      <i class="fa-regular fa-arrow-right-from-bracket"></i>

      {{ "EX.R_CONTRACTS_LEAVE_BTN" | translate }}
    </button>
    <div class="right-buttons">
      <button
        type="button"
        mat-stroked-button
        color="primary"
        class="fi-flat-btn mr-3"
        id="Btn_Return"
      >
        {{ "EX.R_CONTRACTS_RETURN" | translate }}
      </button>

      <button
        type="button"
        mat-raised-button
        color="primary"
        class="fi-flat-btn mr-3"
        id="Btn_Save"
      >
        {{ "EX.R_CONTRACTS_SAVE_CONTINUE_BTN" | translate }}
      </button>
    </div>
  </div> -->
</div>
